<div class="wrapper">
  <div class="header poppins-medium">
    <div class="header__links {{ appThemeService.getMode() | async }}">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="profile" routerLinkActive="active">Profile</a>
    </div>
    <div class="header__actions">
      <div class="header__actions__mode-toggler">
        <img
          src="{{
            'assets/' + (appThemeService.getMode() | async) + '-mode.svg'
          }}"
          alt=""
          (click)="toggleModePicker()"
        />

        <div
          *ngIf="showModePicker"
          class="header__actions__mode-toggler__mode-picker"
        >
          <div
            *ngFor="let mode of availableModes"
            class="header__actions__mode-toggler__mode-picker__mode"
            [ngClass]="{ active: mode === (appThemeService.getMode() | async) }"
            (click)="onSetMode(mode)"
          >
            {{ mode }}
            <img src="{{ 'assets/' + mode + '-mode.svg' }}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content__inner">
      <router-outlet />
    </div>
  </div>
</div>
